# Ignore everything


# Except these directories and files
!src/
!results/
!docs/
!paper/
!data/
!.streamlit/
.gitattributes
!README.md
!requirements.txt
!.gitignore
!streamlit_app.py

# Recursively allow files under the directories we don't ignore
!src/**
!results/**
!docs/**
!paper/**
!data/**  # This line ensures all data is initially considered
!.streamlit/**

# Explicitly ignore all files in data/raw
data/raw/**/**  # Ignore everything in the raw directory

# Common files to ignore
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.DS_Store
*.streamlit/secrets.toml

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
