# Ignore everything
*

# But do not ignore these directories and files
!.gitattributes
!.streamlit/
!.streamlit/**
!data/
!data/**  # Ensure all subdirectories in data are not ignored
!prueba.py
!streamlit_app_pruebageo.py

# Specifically ignore data/raw entirely
data/raw/**

# Common files to ignore
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.DS_Store

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore Streamlit secrets
.streamlit/secrets.toml
