# Ignore everything
*

# But don't ignore these directories
!src/
!results/
!docs/
!paper/
!data/processed
!data/processed/processed_data.json
!data/mapa
!.streamlit/


# And don't ignore these files
!README.md
!requirements.txt
!.gitignore
!streamlit_app.py

# Recursively allow files under the directories we don't ignore
!src/**
!results/**
!docs/**
!paper/**
!data/processed**
!data/mapa**
!.streamlit/**


# Common files to ignore
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.DS_Store
*.streamlit/secrets.toml

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
